@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    padding: 0 15rem;
  }

  @media (min-width: 768px) and (max-width: 1024px) { /* 태블릿 */
    main {
      padding: 0 10rem;
    }
  }

  @media (max-width: 768px) { /* 모바일 */
    main {
      padding: 0 2rem;
    }
  }
}
